@import "tailwindcss";

body,html{
  font-family: monospace;
  
}

:root{
  --background:var(--color-neutral-100);
  --foreground:black;
  --card:white;
  --nav:oklch(86.799% 0.01413 258.444);
  --bottom:oklch(87.2% 0.01 258.338);
  --btn:var(--color-neutral-800);
  --bdr:oklch(81.294% 0.04946 255.177);
  --smallcard:oklch(92.2% 0 0);

  
  
 
}
html.dark{
  --background:black;
  --foreground:white;
  --card:oklch(21.6% 0.006 56.043);
  --nav:oklch(21.6% 0.006 56.043);
  --bottom:oklch(20.8% 0.042 265.755);
  --btn:var(--color-neutral-400);
  --bdr:oklch(70.9% 0.01 56.259);
  --smallcard:oklch(20.8% 0.042 265.755);
}

@theme inline {

  --shadow-acer:0px 2px 3px -1px rgba(0,0,0,0.1),0px 1px 0px 0px rgba(25,28,33,0.02),0px 0px 0px 1px rgba(25,28,33,0.08);
  --color-primary:var(--color-neutral-800);
  --color-secondary:var(--color-neutral-600);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card);
  --color-nav:var(--nav);
  --color-bottom:var(--bottom);
  --color-btn:var(--btn);
  --color-bdr:var(--bdr);
  --color-golden:oklch(76.9% 0.188 70.08);
  --color-pup:oklch(59.2% 0.249 0.584);
  --color-purple:oklch(43.2% 0.232 292.759);
  --color-lightpurple:oklch(60.6% 0.25 292.717);
  --color-smallcard:var(--smallcard)

}