@import "tailwindcss";

body,html{
  font-family: monospace;
  
}

.flamenco-light {
  font-family: "Flamenco", system-ui;
  font-weight: 300;
  font-style: normal;
}

.flamenco-regular {
  font-family: "Flamenco", system-ui;
  font-weight: 400;
  font-style: normal;
}

:root{
  --background:var(--color-neutral-100);
  --foreground:black;
  --card:white;
  --nav:oklch(93.195% 0.00984 253.015);
  --bottom:oklch(87.2% 0.01 258.338);
  --btn:var(--color-neutral-800);
  --bdr:oklch(67.814% 0.00569 248.221);
  --smallcard:oklch(92.2% 0 0);
  --fullColor:oklch(51.1% 0.096 186.391);
   --shadowBack:0.3px 0.3px 5px rgba(0,0,0,0.2),-3px -4px 10px rgba(255,255,255,0.7);
  --hoverShadow:inset 0.5px 0.5px 5px rgba(0,0,0,0.2),-3px -4px 10px rgba(255,255,255,0.7);
  --borderlight:var(--color-neutral-200);
  --inputcolor:var(--color-neutral-200);
  --grad-from:var(--color-neutral-300);
  --grad-via:var(--color-gray-200);
  --grad-to:var(--color-neutral-300);
  --hovered:var(--color-neutral-300);
  --textxl:var(--color-neutral-700);

  
  
 
}
html.dark{
  --background:var(--color-zinc-950);
  --foreground:white;
  --card:oklch(21.6% 0.006 56.043);
  --nav:oklch(21.6% 0.006 56.043);
  --bottom:oklch(20.8% 0.042 265.755);
  --btn:var(--color-neutral-400);
  --bdr:oklch(56.34% 0.0087 48.284);
  --smallcard:var(--color-neutral-700);
  --fullColor:oklch(65.6% 0.241 354.308);
  --shadowBack:0.3px 0.3px 5px rgba(206, 44, 44, 0.2),-3px -4px 10px rgba(137, 18, 18, 0.7);
  --hoverShadow:inset 0.5px 0.5px 5px rgba(0,0,0,0.2),-3px -4px 10px rgba(244, 24, 24, 0.7);
   --borderlight:var(--color-neutral-400);
   --inputcolor:var(--color-neutral-500);
   --grad-from:rgb(59, 130, 246);
  --grad-via:#6ab1c0;
  --grad-to:var(--color-neutral-700);
  --hovered:var(--color-neutral-600);
  --textxl:var(--color-neutral-300);
}

@theme inline {

  --shadow-acer:0px 2px 3px -1px rgba(0,0,0,0.1),0px 1px 0px 0px rgba(25,28,33,0.02),0px 0px 0px 1px rgba(25,28,33,0.08);
  --color-primary:var(--color-neutral-800);
  --color-secondary:var(--color-neutral-600);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card);
  --color-nav:var(--nav);
  --color-bottom:var(--bottom);
  --color-btn:var(--btn);
  --color-bdr:var(--bdr);
  --color-golden:oklch(76.9% 0.188 70.08);
  --color-pup:oklch(59.2% 0.249 0.584);
  --color-purple:oklch(43.2% 0.232 292.759);
  --color-lightpurple:oklch(60.6% 0.25 292.717);
  --color-smallcard:var(--smallcard);
  --color-fullColor:var(--fullColor);
  --shadow-inset:-1px -1px 5px rgba(255,255,255,0.6),
 1px 1px 5px rgba(0, 0, 0, 0.3),
 inset -2px -2px 5px rgba(255, 255, 255, 1),
 inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  --shadow-shadowBack:var(--shadowBack);
  --shadow-hoverShadow:var(--hoverShadow);

    --shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.15);
  --shadow-strong: 0 1px 4px oklch(44.6% 0.043 257.281);
  --shadow-glow: 0 5px 20px oklch(37.3% 0.034 259.733);
  --shadow-weird:0px 4px 20px 0px rgba(15,12,12,0.08),0px 8px 12px -4px rgba(15,12,12,0.10),0px 0px 2px 0px rgba(15,12,12,0.10),0px 1px 2px 0px rgba(15,12,12,0.10);


  --shadow-finta:0px 8px 12px -4px rgba(15,12,12,0.08),
  0px 0px 2px 0px rgba(15,12,12,0.10),
  0px 1px 2px 0px rgba(15,12,12,0.10);

  --color-borderlight:var(--borderlight);
  --color-inputcolor:var(--inputcolor);

  --color-grad-from:var(--grad-from);
  --color-grad-via:var(--grad-via);
  --color-grad-to:via(--grad-to);
  --color-hovered:var(--hovered);
  --color-textxl:var(--textxl);


  


}

.glass-card{
  @apply bg-white/10 backdrop-blur-md shadow-md
}


.rotate-button{
  @apply absolute 
}