@import "tailwindcss";

body,html{
  font-family: monospace;
  
}

:root{
  --background:white;
  --foreground:black;
  --card:white;
  --nav:oklch(86.799% 0.01413 258.444);
  --bottom:oklch(87.2% 0.01 258.338);
  
 
}
html.dark{
  --background:black;
  --foreground:white;
  --card:oklch(21.6% 0.006 56.043);
  --nav:oklch(21.6% 0.006 56.043);
  --bottom:oklch(20.8% 0.042 265.755);
}

@theme inline {

  --shadow-acer:0px 2px 3px -1px rgba(0,0,0,0.1),0px 1px 0px 0px rgba(25,28,33,0.02),0px 0px 0px 1px rgba(25,28,33,0.08);
  --color-primary:var(--color-neutral-800);
  --color-secondary:var(--color-neutral-600);
  --color-background:var(--background);
  --color-foreground:var(--foreground);
  --color-card:var(--card);
  --color-nav:var(--nav);
  --color-bottom:var(--bottom);

}